<div class="modal @modalDisplay" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title fs-5" id="staticBackdropLabel">@Title</span>
                <button type="button" class="btn-close" @onclick="Close"></button>
            </div>
            <div class="modal-body">
                @ModalBody
            </div>
        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty(modalDisplay))
{
    <div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? ModalBody { get; set; }

    string modalDisplay = string.Empty;

    public void Open()
    {
        modalDisplay = "d-block";
    }

    public void Close()
    {
        modalDisplay = string.Empty;
    }
}
