@page "/roles"
@using Inventory.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Identity

@inject RoleManager<IdentityRole> RoleManager

@attribute [Authorize]

<PageTitle>Роли</PageTitle>

<h1>Роли</h1>

<p>
    <a href="roles/create">Создать роль</a>
</p>

<QuickGrid Class="table" Items="RoleManager.Roles">
    @* <PropertyColumn Property="role => role.Id" /> *@
    <PropertyColumn Property="role => role.Name" />

    @* <TemplateColumn Context="role">
        <a href="@($"roles/edit?id={role.Id}")">Изменить</a> |
        <a href="@($"roles/details?id={role.Id}")">Детали</a> |
        <a href="@($"roles/delete?id={role.Id}")">Удалить</a>
    </TemplateColumn> *@
</QuickGrid>

@code {
}
