@page "/orderstatuses/create"
@using Microsoft.EntityFrameworkCore
@using Inventory.Domain
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>OrderStatus</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="OrderStatus" OnValidSubmit="AddOrderStatus" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="OrderStatus.Name" class="form-control" /> 
                <ValidationMessage For="() => OrderStatus.Name" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/orderstatuses">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private OrderStatus OrderStatus { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddOrderStatus()
    {
        using var context = DbFactory.CreateDbContext();
        context.OrderStatuses.Add(OrderStatus);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/orderstatuses");
    }
}
