@page "/equipmentorders"
@using Inventory.Application
@using Inventory.Domain
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IEquipmentOrderService Service

@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="equipmentorders/create">Create New</a>
</p>

<QuickGrid Class="table" ItemsProvider="itemsProvider">

    <PropertyColumn Property="equipmentorder => equipmentorder.Number" />
    <PropertyColumn Property="equipmentorder => equipmentorder.DateTime" />
    <PropertyColumn Property="equipmentorder => equipmentorder.Author != null ? equipmentorder.Author.Name : string.Empty" />
    <PropertyColumn Property="equipmentorder => equipmentorder.Equipment != null ? equipmentorder.Equipment.Name : string.Empty" />
    <PropertyColumn Property="equipmentorder => equipmentorder.SerialNumber != null ? equipmentorder.SerialNumber.Number : string.Empty" />
    <PropertyColumn Property="equipmentorder => equipmentorder.IsAssigned" />
    <PropertyColumn Property="equipmentorder => equipmentorder.Assignee != null ? equipmentorder.Assignee.Name : string.Empty" />
    <PropertyColumn Property="equipmentorder => equipmentorder.Location != null ? equipmentorder.Location.Name : string.Empty" />

    <TemplateColumn Context="equipmentorder">
        <a href="@($"equipmentorders/edit?id={equipmentorder.Id}")">Edit</a> |
        <a href="@($"equipmentorders/details?id={equipmentorder.Id}")">Details</a> |
        <a href="@($"equipmentorders/delete?id={equipmentorder.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    GridItemsProvider<EquipmentOrder>? itemsProvider;

    protected override void OnInitialized()
    {
        itemsProvider = async request =>
         {
             var result = await Service.GetList(request.StartIndex, request.Count, true, true, true, true, true);

             if (!result.IsSuccess || result.Value is null)
                 return default;

             var response = GridItemsProviderResult.From(
                 items: result.Value,
                 totalItemCount: result.Total
             );

             return response;
         };
    }
}
