@page "/equipmenthistories/create"
@using Microsoft.EntityFrameworkCore
@using Inventory.Domain
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>EquipmentHistory</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="EquipmentHistory" OnValidSubmit="AddEquipmentHistory" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="assigneeid" class="form-label">AssigneeId:</label> 
                <InputText id="assigneeid" @bind-Value="EquipmentHistory.AssigneeId" class="form-control" /> 
                <ValidationMessage For="() => EquipmentHistory.AssigneeId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="locationid" class="form-label">LocationId:</label> 
                <InputText id="locationid" @bind-Value="EquipmentHistory.LocationId" class="form-control" /> 
                <ValidationMessage For="() => EquipmentHistory.LocationId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="equipmentid" class="form-label">EquipmentId:</label> 
                <InputText id="equipmentid" @bind-Value="EquipmentHistory.EquipmentId" class="form-control" /> 
                <ValidationMessage For="() => EquipmentHistory.EquipmentId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="serialnumberid" class="form-label">SerialNumberId:</label> 
                <InputText id="serialnumberid" @bind-Value="EquipmentHistory.SerialNumberId" class="form-control" /> 
                <ValidationMessage For="() => EquipmentHistory.SerialNumberId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datebegin" class="form-label">DateBegin:</label> 
                <InputDate id="datebegin" @bind-Value="EquipmentHistory.DateBegin" class="form-control" /> 
                <ValidationMessage For="() => EquipmentHistory.DateBegin" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateend" class="form-label">DateEnd:</label> 
                <InputDate id="dateend" @bind-Value="EquipmentHistory.DateEnd" class="form-control" /> 
                <ValidationMessage For="() => EquipmentHistory.DateEnd" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/equipmenthistories">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private EquipmentHistory EquipmentHistory { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddEquipmentHistory()
    {
        using var context = DbFactory.CreateDbContext();
        context.EquipmentHistories.Add(EquipmentHistory);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/equipmenthistories");
    }
}
