@page "/stocks/create"
@using Microsoft.EntityFrameworkCore
@using Inventory.Domain
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Stock</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Stock" OnValidSubmit="AddStock" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="balance" class="form-label">Balance:</label> 
                <InputNumber id="balance" @bind-Value="Stock.Balance" class="form-control" /> 
                <ValidationMessage For="() => Stock.Balance" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/stocks">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Stock Stock { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddStock()
    {
        using var context = DbFactory.CreateDbContext();
        context.Stocks.Add(Stock);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/stocks");
    }
}
