@page "/stocks/details"
@using Microsoft.EntityFrameworkCore
@using Inventory.Domain
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Stock</h2>
    <hr />
    @if (stock is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Balance</dt>
            <dd class="col-sm-10">@stock.Balance</dd>
        </dl>
        <div>
            <a href="@($"/stocks/edit?assetid={stock.AssetId}")">Edit</a> |
            <a href="@($"/stocks")">Back to List</a>
        </div>
    }
</div>

@code {
    private Stock? stock;

    [SupplyParameterFromQuery]
    private Guid AssetId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        stock = await context.Stocks.FirstOrDefaultAsync(m => m.AssetId == AssetId);

        if (stock is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
