@page "/stocks"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Inventory.Domain
@using Inventory.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="stocks/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Stocks">
    <PropertyColumn Property="stock => stock.AssetId" />
    <PropertyColumn Property="stock => stock.LocationId" />
    <PropertyColumn Property="stock => stock.Balance" />

    <TemplateColumn Context="stock">
        <a href="@($"stocks/edit?id={stock.Id}")">Edit</a> |
        <a href="@($"stocks/details?id={stock.Id}")">Details</a> |
        <a href="@($"stocks/delete?id={stock.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
