@page "/stockturnovers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Inventory.Domain
@using Inventory.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="stockturnovers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.StockTurnovers">
    <PropertyColumn Property="stockturnover => stockturnover.DateTime" />
    <PropertyColumn Property="stockturnover => stockturnover.OrderId" />
    <PropertyColumn Property="stockturnover => stockturnover.AssetId" />
    <PropertyColumn Property="stockturnover => stockturnover.LocationId" />
    <PropertyColumn Property="stockturnover => stockturnover.OpeningBalance" />
    <PropertyColumn Property="stockturnover => stockturnover.Receipt" />
    <PropertyColumn Property="stockturnover => stockturnover.Expense" />
    <PropertyColumn Property="stockturnover => stockturnover.ClosingBalance" />

    <TemplateColumn Context="stockturnover">
        <a href="@($"stockturnovers/edit?id={stockturnover.Id}")">Edit</a> |
        <a href="@($"stockturnovers/details?id={stockturnover.Id}")">Details</a> |
        <a href="@($"stockturnovers/delete?id={stockturnover.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
