@page "/stockbalances/create"
@using Microsoft.EntityFrameworkCore
@using Inventory.Domain
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>StockBalance</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="StockBalance" OnValidSubmit="AddStockBalance" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="assetid" class="form-label">AssetId:</label> 
                <InputText id="assetid" @bind-Value="StockBalance.AssetId" class="form-control" /> 
                <ValidationMessage For="() => StockBalance.AssetId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="locationid" class="form-label">LocationId:</label> 
                <InputText id="locationid" @bind-Value="StockBalance.LocationId" class="form-control" /> 
                <ValidationMessage For="() => StockBalance.LocationId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="assigneeid" class="form-label">AssigneeId:</label> 
                <InputText id="assigneeid" @bind-Value="StockBalance.AssigneeId" class="form-control" /> 
                <ValidationMessage For="() => StockBalance.AssigneeId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="balance" class="form-label">Balance:</label> 
                <InputNumber id="balance" @bind-Value="StockBalance.Balance" class="form-control" /> 
                <ValidationMessage For="() => StockBalance.Balance" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/stockbalances">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private StockBalance StockBalance { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddStockBalance()
    {
        using var context = DbFactory.CreateDbContext();
        StockBalance.Id = Guid.CreateVersion7().ToString();
        context.StockBalances.Add(StockBalance);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/stockbalances");
    }
}
