@page "/stockbalances"
@using Inventory.Application
@using Inventory.Domain
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IStockBalanceService Service

@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="stockbalances/create">Create New</a>
</p>

<QuickGrid Class="table" ItemsProvider="itemsProvider">
    <PropertyColumn Property="stockbalance => stockbalance.AssetId" />
    <PropertyColumn Property="stockbalance => stockbalance.SerialNumberId" />
    <PropertyColumn Property="stockbalance => stockbalance.LocationId" />
    <PropertyColumn Property="stockbalance => stockbalance.AssigneeId" />
    <PropertyColumn Property="stockbalance => stockbalance.Balance" />

    <TemplateColumn Context="stockbalance">
        <a href="@($"stockbalances/edit?id={stockbalance.Id}")">Edit</a> |
        <a href="@($"stockbalances/details?id={stockbalance.Id}")">Details</a> |
        <a href="@($"stockbalances/delete?id={stockbalance.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    GridItemsProvider<StockBalance>? itemsProvider;

    protected override void OnInitialized()
    {
        itemsProvider = async request =>
        {
            var result = await Service.GetList(request.StartIndex, request.Count);

            if (!result.IsSuccess || result.Value is null)
                return default;

            var response = GridItemsProviderResult.From(
                items: result.Value,
                totalItemCount: result.Total
            );

            return response;
        };
    }
}
