@page "/orderdirections/details"
@using Microsoft.EntityFrameworkCore
@using Inventory.Domain
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>OrderDirection</h2>
    <hr />
    @if (orderdirection is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@orderdirection.Name</dd>
        </dl>
        <div>
            <a href="@($"/orderdirections/edit?id={orderdirection.Id}")">Edit</a> |
            <a href="@($"/orderdirections")">Back to List</a>
        </div>
    }
</div>

@code {
    private OrderDirection? orderdirection;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        orderdirection = await context.OrderDirections.FirstOrDefaultAsync(m => m.Id == Id);

        if (orderdirection is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
