@page "/orderdirections"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Inventory.Domain
@using Inventory.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="orderdirections/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.OrderDirections">
    <PropertyColumn Property="orderdirection => orderdirection.Name" />

    <TemplateColumn Context="orderdirection">
        <a href="@($"orderdirections/edit?id={orderdirection.Id}")">Edit</a> |
        <a href="@($"orderdirections/details?id={orderdirection.Id}")">Details</a> |
        <a href="@($"orderdirections/delete?id={orderdirection.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
