@if (TreeItems != null && TreeItems.Any())
{
    <ul class="list-group">
        @foreach (var item in TreeItems)
        {
            <TreeNode TreeItem="item" TreeItemTemplate="TreeItemTemplate" />
        }
    </ul>
}
else
{
    <div class="m-5 spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Загрузка...</span>
    </div>
}

@code {
    [Parameter]
    public List<TreeItem>? TreeItems { get; set; }

    [Parameter]
    public RenderFragment<TreeItem> TreeItemTemplate { get; set; } = default!;
}
