@page "/materialorderitems"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Inventory.Domain
@using Inventory.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="materialorderitems/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.MaterialOrderItems">
    <PropertyColumn Property="materialorderitem => materialorderitem.OrderId" />
    <PropertyColumn Property="materialorderitem => materialorderitem.MayerialId" />
    <PropertyColumn Property="materialorderitem => materialorderitem.Count" />

    <TemplateColumn Context="materialorderitem">
        <a href="@($"materialorderitems/edit?id={materialorderitem.Id}")">Edit</a> |
        <a href="@($"materialorderitems/details?id={materialorderitem.Id}")">Details</a> |
        <a href="@($"materialorderitems/delete?id={materialorderitem.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
