@page "/assignturnovers/create"
@using Microsoft.EntityFrameworkCore
@using Inventory.Domain
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>AssignTurnover</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="AssignTurnover" OnValidSubmit="AddAssignTurnover" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="datetime" class="form-label">DateTime:</label> 
                <InputDate id="datetime" @bind-Value="AssignTurnover.DateTime" class="form-control" /> 
                <ValidationMessage For="() => AssignTurnover.DateTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="orderid" class="form-label">OrderId:</label> 
                <InputText id="orderid" @bind-Value="AssignTurnover.OrderIdString" class="form-control" /> 
                <ValidationMessage For="() => AssignTurnover.OrderId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="assetid" class="form-label">AssetId:</label> 
                <InputText id="assetid" @bind-Value="AssignTurnover.AssetIdString" class="form-control" /> 
                <ValidationMessage For="() => AssignTurnover.AssetId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="assigneeid" class="form-label">AssigneeId:</label> 
                <InputText id="assigneeid" @bind-Value="AssignTurnover.AssigneeId" class="form-control" /> 
                <ValidationMessage For="() => AssignTurnover.AssigneeId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="openingbalance" class="form-label">OpeningBalance:</label> 
                <InputNumber id="openingbalance" @bind-Value="AssignTurnover.OpeningBalance" class="form-control" /> 
                <ValidationMessage For="() => AssignTurnover.OpeningBalance" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="receipt" class="form-label">Receipt:</label> 
                <InputNumber id="receipt" @bind-Value="AssignTurnover.Receipt" class="form-control" /> 
                <ValidationMessage For="() => AssignTurnover.Receipt" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="expense" class="form-label">Expense:</label> 
                <InputNumber id="expense" @bind-Value="AssignTurnover.Expense" class="form-control" /> 
                <ValidationMessage For="() => AssignTurnover.Expense" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="closingbalance" class="form-label">ClosingBalance:</label> 
                <InputNumber id="closingbalance" @bind-Value="AssignTurnover.ClosingBalance" class="form-control" /> 
                <ValidationMessage For="() => AssignTurnover.ClosingBalance" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/assignturnovers">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private AssignTurnover AssignTurnover { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAssignTurnover()
    {
        using var context = DbFactory.CreateDbContext();
        context.AssignTurnovers.Add(AssignTurnover);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/assignturnovers");
    }
}
