@page "/assignturnovers/edit"
@using Microsoft.EntityFrameworkCore
@using Inventory.Domain
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>AssignTurnover</h2>
<hr />
@if (AssignTurnover is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="AssignTurnover" OnValidSubmit="UpdateAssignTurnover" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="AssignTurnover.Id" value="@AssignTurnover.Id" />
                <div class="mb-3">
                    <label for="datetime" class="form-label">DateTime:</label>
                    <InputDate id="datetime" @bind-Value="AssignTurnover.DateTime" class="form-control" />
                    <ValidationMessage For="() => AssignTurnover.DateTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="orderid" class="form-label">OrderId:</label>
                    <InputText id="orderid" @bind-Value="AssignTurnover.OrderIdString" class="form-control" />
                    <ValidationMessage For="() => AssignTurnover.OrderId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="assetid" class="form-label">AssetId:</label>
                    <InputText id="assetid" @bind-Value="AssignTurnover.AssetIdString" class="form-control" />
                    <ValidationMessage For="() => AssignTurnover.AssetId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="assigneeid" class="form-label">AssigneeId:</label>
                    <InputText id="assigneeid" @bind-Value="AssignTurnover.AssigneeId" class="form-control" />
                    <ValidationMessage For="() => AssignTurnover.AssigneeId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="openingbalance" class="form-label">OpeningBalance:</label>
                    <InputNumber id="openingbalance" @bind-Value="AssignTurnover.OpeningBalance" class="form-control" />
                    <ValidationMessage For="() => AssignTurnover.OpeningBalance" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="receipt" class="form-label">Receipt:</label>
                    <InputNumber id="receipt" @bind-Value="AssignTurnover.Receipt" class="form-control" />
                    <ValidationMessage For="() => AssignTurnover.Receipt" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="expense" class="form-label">Expense:</label>
                    <InputNumber id="expense" @bind-Value="AssignTurnover.Expense" class="form-control" />
                    <ValidationMessage For="() => AssignTurnover.Expense" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="closingbalance" class="form-label">ClosingBalance:</label>
                    <InputNumber id="closingbalance" @bind-Value="AssignTurnover.ClosingBalance" class="form-control" />
                    <ValidationMessage For="() => AssignTurnover.ClosingBalance" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/assignturnovers">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    [SupplyParameterFromForm]
    private AssignTurnover? AssignTurnover { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        AssignTurnover ??= await context.AssignTurnovers.FirstOrDefaultAsync(m => m.Id == Id);

        if (AssignTurnover is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateAssignTurnover()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(AssignTurnover!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!AssignTurnoverExists(AssignTurnover!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/assignturnovers");
    }

    private bool AssignTurnoverExists(Guid id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.AssignTurnovers.Any(e => e.Id == id);
    }
}
