@page "/assignturnovers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Inventory.Domain
@using Inventory.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="assignturnovers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.AssignTurnovers">
    <PropertyColumn Property="assignturnover => assignturnover.DateTime" />
    <PropertyColumn Property="assignturnover => assignturnover.OrderId" />
    <PropertyColumn Property="assignturnover => assignturnover.AssetId" />
    <PropertyColumn Property="assignturnover => assignturnover.AssigneeId" />
    <PropertyColumn Property="assignturnover => assignturnover.OpeningBalance" />
    <PropertyColumn Property="assignturnover => assignturnover.Receipt" />
    <PropertyColumn Property="assignturnover => assignturnover.Expense" />
    <PropertyColumn Property="assignturnover => assignturnover.ClosingBalance" />

    <TemplateColumn Context="assignturnover">
        <a href="@($"assignturnovers/edit?id={assignturnover.Id}")">Edit</a> |
        <a href="@($"assignturnovers/details?id={assignturnover.Id}")">Details</a> |
        <a href="@($"assignturnovers/delete?id={assignturnover.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
