@page "/serialnumbers/delete"
@using Inventory.Application
@using Inventory.Domain
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager
@inject ISerialNumberService Service

@attribute [Authorize]

<PageTitle>Удалить</PageTitle>

<h1>Удалить</h1>

<p>Вы уверены, что хотите удалить?</p>
<div>
    <h2>Серийный Номер</h2>
    <hr />
    @if (serialnumber is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Оборудование</dt>
            <dd class="col-sm-10">@serialnumber.Equipment?.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Серийный Номер</dt>
            <dd class="col-sm-10">@serialnumber.Number</dd>
        </dl>
        <EditForm method="post" Model="serialnumber" OnValidSubmit="DeleteSerialNumber" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(serialnumber is null)">Удалить</button> |
            <a href="/serialnumbers">Назад к Списку</a>
        </EditForm>
    }
</div>

@code {
    private SerialNumber? serialnumber;

    [SupplyParameterFromQuery]
    private string? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id is not null)
            serialnumber = await Service.Get(Id, isIncludeEquipment: true);

        if (serialnumber is null)
            NavigationManager.NavigateTo("notfound");
    }

    private async Task DeleteSerialNumber()
    {
        await Service.Delete(serialnumber!);

        NavigationManager.NavigateTo("/serialnumbers");
    }
}
