@page "/serialnumbers/edit"
@using Microsoft.EntityFrameworkCore
@using Inventory.Domain
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>SerialNumber</h2>
<hr />
@if (SerialNumber is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="SerialNumber" OnValidSubmit="UpdateSerialNumber" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="SerialNumber.Id" value="@SerialNumber.Id" />
                <div class="mb-3">
                    <label for="equipmentid" class="form-label">EquipmentId:</label>
                    <InputText id="equipmentid" @bind-Value="SerialNumber.EquipmentId" class="form-control" />
                    <ValidationMessage For="() => SerialNumber.EquipmentId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="number" class="form-label">Number:</label>
                    <InputText id="number" @bind-Value="SerialNumber.Number" class="form-control" />
                    <ValidationMessage For="() => SerialNumber.Number" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/serialnumbers">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private string Id { get; set; }

    [SupplyParameterFromForm]
    private SerialNumber? SerialNumber { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        SerialNumber ??= await context.SerialNumbers.FirstOrDefaultAsync(m => m.Id == Id);

        if (SerialNumber is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateSerialNumber()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(SerialNumber!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!SerialNumberExists(SerialNumber!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/serialnumbers");
    }

    private bool SerialNumberExists(string id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.SerialNumbers.Any(e => e.Id == id);
    }
}
