@page "/orderitems"
@using Inventory.Application
@using Inventory.Domain
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IOrderItemService Service

@attribute [Authorize]

@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="orderitems/create">Create New</a>
</p>

<QuickGrid Class="table" ItemsProvider="itemsProvider">
    <PropertyColumn Property="orderitem => orderitem.OrderId" />
    <PropertyColumn Property="orderitem => orderitem.AssetId" />
    <PropertyColumn Property="orderitem => orderitem.SerialNumberId" />
    <PropertyColumn Property="orderitem => orderitem.Amount" />

    <TemplateColumn Context="orderitem">
        <a href="@($"orderitems/edit?id={orderitem.Id}")">Edit</a> |
        <a href="@($"orderitems/details?id={orderitem.Id}")">Details</a> |
        <a href="@($"orderitems/delete?id={orderitem.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    GridItemsProvider<OrderItem>? itemsProvider;

    protected override void OnInitialized()
    {
        itemsProvider = async request =>
        {
            var result = await Service.GetList(request.StartIndex, request.Count);

            if (!result.IsSuccess || result.Value is null)
                return default;

            var response = GridItemsProviderResult.From(
                items: result.Value,
                totalItemCount: result.Total
            );

            return response;
        };
    }
}
