@page "/assets"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Inventory.Domain
@using Inventory.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="assets/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Assets">
    <PropertyColumn Property="asset => asset.Name" />
    <PropertyColumn Property="asset => asset.IsFolder" />
    <PropertyColumn Property="asset => asset.ParentId" />

    <TemplateColumn Context="asset">
        <a href="@($"assets/edit?id={asset.Id}")">Edit</a> |
        <a href="@($"assets/details?id={asset.Id}")">Details</a> |
        <a href="@($"assets/delete?id={asset.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
