@page "/assets"
@using Inventory.Application
@using Inventory.Domain
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IAssetService Service

@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="assets/create">Create New</a>
</p>

<QuickGrid Class="table" ItemsProvider="itemsProvider">
    <PropertyColumn Property="asset => asset.Id" />
    <PropertyColumn Property="asset => asset.Name" />
    <PropertyColumn Property="asset => asset.IsFolder" />
    <PropertyColumn Property="asset => asset.IsEquipment" />
    <PropertyColumn Property="asset => asset.ParentId" />

    <TemplateColumn Context="asset">
        <a href="@($"assets/edit?id={asset.Id}")">Edit</a> |
        <a href="@($"assets/details?id={asset.Id}")">Details</a> |
        <a href="@($"assets/delete?id={asset.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    GridItemsProvider<Asset>? itemsProvider;

    protected override void OnInitialized()
    {
        itemsProvider = async request =>
        {
            var result = await Service.GetList(request.StartIndex, request.Count);

            if (!result.IsSuccess || result.Value is null)
                return default;

            var response = GridItemsProviderResult.From(
                items: result.Value,
                totalItemCount: result.Total
            );

            return response;
        };
    }
}
