@page "/orders/edit"
@using Microsoft.EntityFrameworkCore
@using Inventory.Domain
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Order</h2>
<hr />
@if (Order is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Order" OnValidSubmit="UpdateOrder" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Order.Id" value="@Order.Id" />
                <div class="mb-3">
                    <label for="datetime" class="form-label">DateTime:</label>
                    <InputDate id="datetime" @bind-Value="Order.DateTime" class="form-control" />
                    <ValidationMessage For="() => Order.DateTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="number" class="form-label">Number:</label>
                    <InputText id="number" @bind-Value="Order.Number" class="form-control" />
                    <ValidationMessage For="() => Order.Number" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="statusid" class="form-label">StatusId:</label>
                    <InputText id="statusid" @bind-Value="Order.StatusIdString" class="form-control" />
                    <ValidationMessage For="() => Order.StatusId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="directionid" class="form-label">DirectionId:</label>
                    <InputNumber id="directionid" @bind-Value="Order.DirectionId" class="form-control" />
                    <ValidationMessage For="() => Order.DirectionId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="authorid" class="form-label">AuthorId:</label>
                    <InputText id="authorid" @bind-Value="Order.AuthorId" class="form-control" />
                    <ValidationMessage For="() => Order.AuthorId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="assigneeid" class="form-label">AssigneeId:</label>
                    <InputText id="assigneeid" @bind-Value="Order.AssigneeId" class="form-control" />
                    <ValidationMessage For="() => Order.AssigneeId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="locationfromid" class="form-label">LocationFromId:</label>
                    <InputText id="locationfromid" @bind-Value="Order.LocationFromIdString" class="form-control" />
                    <ValidationMessage For="() => Order.LocationFromId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="locationtoid" class="form-label">LocationToId:</label>
                    <InputText id="locationtoid" @bind-Value="Order.LocationToIdString" class="form-control" />
                    <ValidationMessage For="() => Order.LocationToId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/orders">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    [SupplyParameterFromForm]
    private Order? Order { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Order ??= await context.Orders.FirstOrDefaultAsync(m => m.Id == Id);

        if (Order is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateOrder()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Order!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!OrderExists(Order!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/orders");
    }

    private bool OrderExists(Guid id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Orders.Any(e => e.Id == id);
    }
}
