@page "/orders"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Inventory.Domain
@using Inventory.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="orders/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Orders">
    <PropertyColumn Property="order => order.DateTime" />
    <PropertyColumn Property="order => order.Number" />
    <PropertyColumn Property="order => order.AuthorId" />
    <PropertyColumn Property="order => order.IsAssigned" />
    <PropertyColumn Property="order => order.AssigneeFromId" />
    <PropertyColumn Property="order => order.AssigneeToId" />
    <PropertyColumn Property="order => order.LocationFromId" />
    <PropertyColumn Property="order => order.LocationToId" />

    <TemplateColumn Context="order">
        <a href="@($"orders/edit?id={order.Id}")">Edit</a> |
        <a href="@($"orders/details?id={order.Id}")">Details</a> |
        <a href="@($"orders/delete?id={order.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
