@page "/orders"
@using Inventory.Application
@using Inventory.Domain
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IOrderService Service

@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="orders/create">Create New</a>
</p>

<QuickGrid Class="table" ItemsProvider="itemsProvider">
    <PropertyColumn Property="order => order.Id" />
    <PropertyColumn Property="order => order.DateTime" />
    <PropertyColumn Property="order => order.Number" />
    <PropertyColumn Property="order => order.AuthorId" />
    <PropertyColumn Property="order => order.IsAssigned" />
    <PropertyColumn Property="order => order.AssigneeFromId" />
    <PropertyColumn Property="order => order.AssigneeToId" />
    <PropertyColumn Property="order => order.LocationFromId" />
    <PropertyColumn Property="order => order.LocationToId" />

    <TemplateColumn Context="order">
        <a href="@($"orders/edit?id={order.Id}")">Edit</a> |
        <a href="@($"orders/details?id={order.Id}")">Details</a> |
        <a href="@($"orders/delete?id={order.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    GridItemsProvider<Order>? itemsProvider;

    protected override void OnInitialized()
    {
        itemsProvider = async request =>
        {
            var result = await Service.GetList(request.StartIndex, request.Count);

            if (!result.IsSuccess || result.Value is null)
                return default;

            var response = GridItemsProviderResult.From(
                items: result.Value,
                totalItemCount: result.Total
            );

            return response;
        };
    }
}
