@page "/locations/delete"
@using Inventory.Application
@using Inventory.Domain
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager
@inject ILocationService Service

@attribute [Authorize]

<PageTitle>Удалить</PageTitle>

<h1>Удалить</h1>

<p>Вы уверены, что хотите удалить?</p>    
<div>
    <h2>Локацию</h2>
    <hr />
    @if (location is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Наименование</dt>
            <dd class="col-sm-10">@location.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Это Папка</dt>
            <dd class="col-sm-10">@location.IsFolder</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Родительская Локация</dt>
            <dd class="col-sm-10">@location.Parent?.Name</dd>
        </dl>
        <EditForm method="post" Model="location" OnValidSubmit="DeleteLocation" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(location is null)">Удалить</button> |
            <a href="/locations">Назад к Списку</a>
        </EditForm>
    }
</div>

@code {
    private Location? location;

    [SupplyParameterFromQuery]
    private string? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id is not null)
            location = await Service.Get(Id, isIncludeParent: true);

        if (location is null)
            NavigationManager.NavigateTo("notfound");
    }

    private async Task DeleteLocation()
    {
        await Service.Delete(location!);

        NavigationManager.NavigateTo("/locations");
    }
}
