@page "/locations/edit"
@using Inventory.Application
@using Inventory.Domain
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager
@inject ILocationService Service

@attribute [Authorize]

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Location</h2>
<hr />
@if (Location is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Location" OnValidSubmit="UpdateLocation" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />
                <input type="hidden" name="Location.Id" value="@Location.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Location.Name" class="form-control" />
                    <ValidationMessage For="() => Location.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="isfolder" class="form-label">IsFolder:</label>
                    <InputCheckbox id="isfolder" @bind-Value="Location.IsFolder" class="form-check-input" />
                    <ValidationMessage For="() => Location.IsFolder" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="parentid" class="form-label">ParentId:</label>
                    <InputText id="parentid" @bind-Value="Location.ParentId" class="form-control" />
                    <ValidationMessage For="() => Location.ParentId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/locations">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private string? Id { get; set; }

    [SupplyParameterFromForm]
    private Location? Location { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id is not null)
            Location ??= await Service.Get(Id);

        if (Location is null)
            NavigationManager.NavigateTo("notfound");
    }

    private async Task UpdateLocation()
    {
        await Service.Update(Location!);

        NavigationManager.NavigateTo("/locations");
    }
}
