@page "/locations"

@using Inventory.Application.LocationServices
@using Inventory.Domain
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid

@inject ILocationService Service

@attribute [Authorize]

<PageTitle>Локации</PageTitle>

<h1>Локации</h1>

<p>
    <a href="locations/create">Создать Новую</a>
</p>

<QuickGrid Class="table" ItemsProvider="itemsProvider">
    <PropertyColumn Property="location => location.Name" Title="Локация" />
    <PropertyColumn Property="location => location.IsFolder" Title="Это Папка" />
    <PropertyColumn Property="location => location.Parent != null ? location.Parent.Name : string.Empty" Title="Родительская Локация" />

    <TemplateColumn Context="location">
        <a href="@($"locations/edit?id={location.Id}")">Изменить</a> |
        <a href="@($"locations/details?id={location.Id}")">Детали</a> |
        <a href="@($"locations/delete?id={location.Id}")">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    GridItemsProvider<Location>? itemsProvider;

    protected override void OnInitialized()
    {
        itemsProvider = async request =>
        {
            var result = await Service.GetList(request.StartIndex, request.Count, isIncludeParent: true);

            if (!result.IsSuccess || result.Value is null)
                return default;

            var response = GridItemsProviderResult.From(
                items: result.Value,
                totalItemCount: result.Total
            );

            return response;
        };
    }
}
