@page "/"

<PageTitle>Учет Оборудования</PageTitle>

<h1>Учет Оборудования (Демо)</h1>

<p>Демо Учетные Записи</p>
<b>Администратор:</b>
<dl class="row">
    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">admin@mail.www</dd>
    <dt class="col-sm-2">Парль</dt>
    <dd class="col-sm-10">Password#1</dd>
</dl>
<b>Менеджер:</b>
<dl class="row">
    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">novosel@mail.www</dd>
    <dt class="col-sm-2">Парль</dt>
    <dd class="col-sm-10">Password#1</dd>
</dl>
<b>Пользователь:</b>
<dl class="row">
    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">kalugina@mail.www</dd>
    <dt class="col-sm-2">Парль</dt>
    <dd class="col-sm-10">Password#1</dd>
</dl>
