@page "/Account/AccessDenied"

<PageTitle>Доступ запрещен</PageTitle>

<header>
    <h1 class="text-danger">Доступ запрещен</h1>
    <p class="text-danger">У вас нет доступа к этому ресурсу.</p>
</header>
