@page "/equipment/create"

@using Inventory.Application
@using Inventory.Domain
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager NavigationManager
@inject IEquipmentService Service

@attribute [Authorize]

<PageTitle>Создать</PageTitle>

<h1>Создать</h1>

<h2>Оборудование</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Equipment" OnValidSubmit="AddEquipment" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <label for="name" class="form-label">Наименование:</label>
                <InputText id="name" @bind-Value="Equipment.Name" class="form-control" />
                <ValidationMessage For="() => Equipment.Name" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="isfolder" class="form-label">Это Папка:</label>
                <InputCheckbox id="isfolder" @bind-Value="Equipment.IsFolder" class="form-check-input" />
                <ValidationMessage For="() => Equipment.IsFolder" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="parentid" class="form-label">В Папке:</label>
                <InputSelect id="parentid" @bind-Value="Equipment.ParentId" class="form-control">
                    <option value="">- Выберите -</option>
                    @foreach (var folder in equipmentFolders){
                        <option value="@folder.Id">@folder.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Equipment.ParentId" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Создать</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/equipment/t">Назад к Списку</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private string? ParentId { get; set; }

    [SupplyParameterFromForm]
    private Equipment Equipment { get; set; } = new() { Id = Guid.CreateVersion7().ToString() };

    private List<Equipment> equipmentFolders = new();

    protected override async Task OnInitializedAsync()
    {
        equipmentFolders = await Service.GetFolders();

        if (ParentId != null)
            Equipment.ParentId = ParentId;
    }

    private async Task AddEquipment()
    {
        string id = await Service.Create(Equipment);

        NavigationManager.NavigateTo("/equipment/t");
    }
}
