@page "/equipment/edit"
@using Inventory.Application
@using Inventory.Domain
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager
@inject IEquipmentService Service

@attribute [Authorize]

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Equipment</h2>
<hr />
@if (Equipment is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Equipment" OnValidSubmit="UpdateEquipment" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Equipment.Id" value="@Equipment.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Equipment.Name" class="form-control" />
                    <ValidationMessage For="() => Equipment.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="isfolder" class="form-label">IsFolder:</label>
                    <InputCheckbox id="isfolder" @bind-Value="Equipment.IsFolder" class="form-check-input" />
                    <ValidationMessage For="() => Equipment.IsFolder" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="parentid" class="form-label">ParentId:</label>
                    <InputText id="parentid" @bind-Value="Equipment.ParentId" class="form-control" />
                    <ValidationMessage For="() => Equipment.ParentId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/equipment">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private string? Id { get; set; }

    [SupplyParameterFromForm]
    private Equipment? Equipment { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id is not null)
            Equipment ??= await Service.Get(Id);

        if (Equipment is null)
            NavigationManager.NavigateTo("notfound");
    }

    private async Task UpdateEquipment()
    {
        await Service.Update(Equipment!);

        NavigationManager.NavigateTo("/equipment");
    }
}
