@page "/equipment/t"
@using Inventory.Application
@using Inventory.Domain
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IEquipmentService Service

@attribute [Authorize]

<PageTitle>Оборудование</PageTitle>

<h1>Оборудование</h1>

<p>
    <a href="equipment">Дерево</a>
</p>

<p>
    <a href="equipment/create">Создать</a>
</p>

<QuickGrid Class="table" ItemsProvider="itemsProvider">
    <PropertyColumn Property="equipment => equipment.Name" Title="Наименование" />
    <PropertyColumn Property="equipment => equipment.IsFolder" Title="Это Папка" />
    <TemplateColumn Context="equipment" Title="Родительская Папка!">
        <HeaderTemplate>
            <th>Родительская Папка</th>
        </HeaderTemplate>
        <ChildContent>
            <span> @equipment.Parent?.Name</span>
        </ChildContent>
    </TemplateColumn>
    <TemplateColumn Context="equipment">
        <a href="@($"equipment/edit?id={equipment.Id}")">Изменить</a> |
        <a href="@($"equipment/details?id={equipment.Id}")">Детали</a> |
        <a href="@($"equipment/delete?id={equipment.Id}")">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    GridItemsProvider<Equipment>? itemsProvider;

    protected override void OnInitialized()
    {
        itemsProvider = async request =>
        {
            var result = await Service.GetList(request.StartIndex, request.Count, isIncludeParent: true);

            if (!result.IsSuccess || result.Value is null)
                return default;

            var response = GridItemsProviderResult.From(
                items: result.Value,
                totalItemCount: result.Total
            );

            return response;
        };
    }
}
