@page "/equipment"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Inventory.Domain
@using Inventory.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="equipment/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Equipments">
    <PropertyColumn Property="equipment => equipment.Name" />
    <PropertyColumn Property="equipment => equipment.IsFolder" />
    <PropertyColumn Property="equipment => equipment.ParentId" />

    <TemplateColumn Context="equipment">
        <a href="@($"equipment/edit?id={equipment.Id}")">Edit</a> |
        <a href="@($"equipment/details?id={equipment.Id}")">Details</a> |
        <a href="@($"equipment/delete?id={equipment.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
