@using Inventory.Domain
@using Microsoft.EntityFrameworkCore

@inject IWebHostEnvironment WebHostEnvironment
@inject ILogger<AppInputFile> Logger
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory


<div class="mb-3 me-3">
    <label for="formFileMultiple" class="form-label">Выберите или перетащите сюда файлы</label>
    <InputFile OnChange="LoadFiles" multiple class="form-control" id="formFileMultiple" />
</div>
@if (isLoading)
{
    <div class="spinner-border mb-3" role="status">
        <span class="visually-hidden">Загрузка...</span>
    </div>
}

@if (files is not null)
{
    <table class="table table-hover  table-striped">
        @foreach (var file in files)
        {
            <tr>
                <td>@file.FileName</td>
                <td>
                    <button type="button" class="btn-close btn-sm text-danger"  title="Удалить"></button>
                </td>
            </tr>
        }
    </table>
}



@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public EventCallback OnLoad { get; set; }

    private List<IBrowserFile> loadedFiles = [];
    private long maxFileSize = 1024 * 100;
    private int maxAllowedFiles = 3;
    private bool isLoading;
    private bool isSuccesss;

    private List<AppFile>? files;

    protected override void OnInitialized()
    {
        GetFiles();
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        loadedFiles.Clear();

        using var context = DbFactory.CreateDbContext();

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                if (Id is null)
                    return;

                var trustedFileName = $"{Id}_{Path.ChangeExtension(Path.GetRandomFileName(), Path.GetExtension(file.Name))}";
                var path = Path.Combine(WebHostEnvironment.ContentRootPath, "wwwroot\\images", trustedFileName);

                await using FileStream fs = new(path, FileMode.Create);
                await file.OpenReadStream(maxFileSize).CopyToAsync(fs);

                loadedFiles.Add(file);

                var equipmentOrderFile = new EquipmentOrderFile
                    {
                        Id = Id,
                        TrustedFileName = trustedFileName,
                        FileName = file.Name
                    };

                context.EquipmentOrderFiles.Add(equipmentOrderFile);

                Logger.LogInformation("Unsafe Filename: {UnsafeFilename} File saved: {Filename}", file.Name, trustedFileName);
            }
            catch (Exception ex)
            {
                Logger.LogError("File: {Filename} Error: {Error}", file.Name, ex.Message);
            }
        }

        context.SaveChanges();

        isLoading = false;

        GetFiles();

        if (OnLoad.HasDelegate)
            await OnLoad.InvokeAsync();
    }

    private void GetFiles()
    {
        using var context = DbFactory.CreateDbContext();
        files = context.AppFiles
            .Where(e => e.Id == Id)
            .OrderBy(e => e.FileName)
            .ToList();
    }
}
