@using Inventory.Components.Icons
@using Inventory.Domain
@using Microsoft.EntityFrameworkCore

@inject IWebHostEnvironment WebHostEnvironment
@inject ILogger<AppInputFile> Logger
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory


<div class="mb-3 me-3">
    <label for="formFileMultiple" class="form-label">Выберите или перетащите сюда файлы</label>
    <InputFile OnChange="LoadFiles" multiple class="form-control" id="formFileMultiple" />
</div>
@if (isLoading)
{
    <div class="spinner-border mb-3" role="status">
        <span class="visually-hidden">Загрузка...</span>
    </div>
}

@if (files is not null)
{
    <table class="table">
        @foreach (var file in files)
        {
            <tr class="row">
                <td class="col-2">
                    <div class="card">
                        <img src="@($"images/{file.TrustedFileName}")" class="card-img-bottom img-fluid" />
                    </div>
                </td>
                <td class="col-8">@file.FileName</td>
                <td class="col-2">
                    <div>
                        <button type="button" class="btn btn-outline-danger border-0 rounded-circle" @onclick="() => DeleteFile(file)" title="Удалить"><Trash3Icon /></button>
                    </div>
                </td>
            </tr>
        }
    </table>
}



@code {
    [Parameter]
    public string? Id { get; set; }

    private List<IBrowserFile> loadedFiles = [];
    private long maxFileSize = 1024 * 1000 * 5;
    private int maxAllowedFiles = 3;
    private bool isLoading;
    private bool isSuccesss;

    private List<AppFile>? files;

    protected override void OnInitialized()
    {
        GetFiles();
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        loadedFiles.Clear();

        using var context = DbFactory.CreateDbContext();

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                if (Id is null)
                    return;

                var trustedFileName = $"{Id}_{Path.ChangeExtension(Path.GetRandomFileName(), Path.GetExtension(file.Name))}";
                var path = Path.Combine(WebHostEnvironment.ContentRootPath, "wwwroot/images", trustedFileName);

                await using FileStream fs = new(path, FileMode.Create);
                await file.OpenReadStream(maxFileSize).CopyToAsync(fs);

                loadedFiles.Add(file);

                var equipmentOrderFile = new EquipmentOrderFile
                    {
                        Id = Id,
                        TrustedFileName = trustedFileName,
                        FileName = file.Name
                    };

                context.EquipmentOrderFiles.Add(equipmentOrderFile);

                Logger.LogInformation("Unsafe Filename: {UnsafeFilename} File saved: {Filename}", file.Name, trustedFileName);
            }
            catch (Exception ex)
            {
                Logger.LogError("File: {Filename} Error: {Error}", file.Name, ex.Message);
            }
        }

        context.SaveChanges();

        isLoading = false;

        GetFiles();
    }

    private void DeleteFile(AppFile appFile)
    {
        var path = Path.Combine(WebHostEnvironment.ContentRootPath, "wwwroot/images", appFile.TrustedFileName);
        File.Delete(path);

        using var context = DbFactory.CreateDbContext();
        context.AppFiles.Remove(appFile);
        context.SaveChanges();

        GetFiles();
    }

    private void GetFiles()
    {
        using var context = DbFactory.CreateDbContext();
        files = context.AppFiles
            .Where(e => e.Id == Id)
            .OrderBy(e => e.FileName)
            .ToList();
    }
}
